<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insta.gen.annuaire"
    android:versionCode="1"
    android:versionName="1.0" >
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher" 
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.insta.annuaire.activity.MainActivity"
            android:label="Annuaire insta" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.insta.annuaire.activity.ListContactActivity"
            android:label="Liste des contacts" 
            android:windowSoftInputMode="stateHidden"/>
        
         <activity
            android:name="com.insta.annuaire.activity.ShowContactActivity"
            android:label="Fiche contact"/>
         <activity
            android:name="com.insta.annuaire.activity.FavoriteActivity"
            android:label="Favoris"/>     
    </application>

</manifest>
