<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insta.gen.annuaire"
    android:versionCode="1"
    android:versionName="1.0" >
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher" 
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.insta.annuaire.activity.MainActivity"
            android:label="Annuaire insta" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.insta.annuaire.activity.ListContactActivity"
            android:label="Liste des contacts" />
         <activity
            android:name="com.insta.annuaire.activity.TabExploitation"
            android:label="Exploitation"/>
         <activity
            android:name="com.insta.annuaire.activity.uneExploitation"
            android:label="Exploitation"
            android:theme="@android:style/Theme.NoTitleBar" />
         <activity
        	android:name="com.insta.annuaire.activity.ContactExploitation"
            android:label="Exploitation"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>
